<app-side-bar></app-side-bar>

<div class="content-wrapper">
    <!-- Main Content -->
    <div class="mainBloc">
        <!-- Header section with a title and some text -->
        <header class="page-header">
            <h1>Bienvenue sur la page d'accueil</h1>
            <p>Explorez nos formations et inscrivez-vous à celles qui vous intéressent !</p>
        </header>

        <!-- Features Section -->
        <div class="features-section">
            <div class="feature-item" data-aos="fade-up" data-aos-delay="200">
                <h3>Transfert de Fichiers</h3>
                <p>Transférez des fichiers de manière sécurisée, comme un FTP. Vous pouvez envoyer et recevoir des fichiers de toutes tailles facilement, sans perdre de temps.</p>
            </div>
        </div>

        
    </div>
</div>
