<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <!-- left column -->
        <div class="col-lg-8">
            <!-- jquery validation -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Inscription</h3>
                </div>
                <!-- <form id="quickForm"> -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nom</label>
                        <input type="text" name="nom" class="form-control" id="exampleInputEmail1"
                            placeholder="Votre nom" required [(ngModel)]="nom">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Adrèsse mail</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                            placeholder="Enter email" required [(ngModel)]="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Password" required [(ngModel)]="password">
                    </div>
                    <div class="form-group mb-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                            <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms
                                    of service</a>.</label>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="button d-flex card-footer justify-content-center">
                    <div class="mr-5">
                        <button type="submit" class="btn btn-outline-primary" (click)="register()" disable>
                            {{isLoading ? 'Inscription en cours' : "S'inscrire"}}
                        </button>
                    </div>
                    <div class="ml-5">
                        <button type="reset" class="btn btn-outline-secondary">Effacer</button>
                    </div>
                </div>
                <div class="signIn m-2">
                    <span>Vous avez déja un compte ? <a href=""> cliquez ici</a></span>
                </div>
                <!-- </form> -->
            </div>
            <!-- /.card -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->